In [184]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data/matches.db')
df = pd.read_sql_query("SELECT * FROM match_records", conn)
conn.close()

In [185]:
df

,match_id,patch_start,region,lane,champion_1,champion_2,win_1,win_2,kda_1,kda_2,...,first_blood_assist_1,first_blood_assist_2,gold_per_minute_1,gold_per_minute_2,xp_diff_per_minute_1,xp_diff_per_minute_2,ally_champions_1,ally_champions_2,enemy_champions_1,enemy_champions_2
0,OC1_662457467,1743552000,OCE,TOP,Ambessa,Riven,1,0,"(8, 3, 5)","(1, 7, 3)",...,0,0,469.983891,314.665749,None,None,"['Naafiri', 'Malzahar', 'Ezreal', 'Bard']","['Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '..."
1,OC1_662457467,1743552000,OCE,JUNGLE,Naafiri,Taliyah,1,0,"(7, 3, 13)","(3, 8, 4)",...,0,0,478.705067,371.934645,None,None,"['Ambessa', 'Malzahar', 'Ezreal', 'Bard']","['Riven', 'Leblanc', 'Varus', 'Pyke']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '..."
2,OC1_662457467,1743552000,OCE,MIDDLE,Malzahar,Leblanc,1,0,"(6, 2, 9)","(3, 7, 4)",...,0,0,457.969799,363.535807,None,None,"['Ambessa', 'Naafiri', 'Ezreal', 'Bard']","['Riven', 'Taliyah', 'Varus', 'Pyke']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '..."
3,OC1_662457467,1743552000,OCE,BOTTOM,Ezreal,Varus,1,0,"(8, 5, 10)","(7, 7, 3)",...,0,0,430.207437,397.775054,None,None,"['Ambessa', 'Naafiri', 'Malzahar', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Pyke']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '..."
4,OC1_662457467,1743552000,OCE,UTILITY,Bard,Pyke,1,0,"(8, 6, 17)","(5, 8, 5)",...,0,1,376.236854,316.943942,None,None,"['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal']","['Riven', 'Taliyah', 'Leblanc', 'Varus']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48906,NA1_5258851814,1743552000,NA,TOP,Jayce,Camille,1,0,"(15, 3, 13)","(4, 11, 5)",...,0,0,527.858758,304.353858,None,None,"['LeeSin', 'Chogath', 'Tristana', 'Rakan']","['Ekko', 'Xerath', 'Aphelios', 'Thresh']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra..."
48907,NA1_5258851814,1743552000,NA,JUNGLE,LeeSin,Ekko,1,0,"(14, 6, 11)","(9, 14, 6)",...,0,0,487.622089,428.673524,None,None,"['Jayce', 'Chogath', 'Tristana', 'Rakan']","['Camille', 'Xerath', 'Aphelios', 'Thresh']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra..."
48908,NA1_5258851814,1743552000,NA,MIDDLE,Chogath,Xerath,1,0,"(7, 7, 19)","(4, 5, 12)",...,1,0,364.215427,362.997907,None,None,"['Jayce', 'LeeSin', 'Tristana', 'Rakan']","['Camille', 'Ekko', 'Aphelios', 'Thresh']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra..."
48909,NA1_5258851814,1743552000,NA,BOTTOM,Tristana,Aphelios,1,0,"(4, 8, 10)","(7, 5, 9)",...,0,0,402.032537,491.396755,None,None,"['Jayce', 'LeeSin', 'Chogath', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Thresh']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra..."
48910,NA1_5258851814,1743552000,NA,UTILITY,Rakan,Thresh,1,0,"(1, 3, 25)","(3, 6, 21)",...,0,0,273.138994,286.565168,None,None,"['Jayce', 'LeeSin', 'Chogath', 'Tristana']","['Camille', 'Ekko', 'Xerath', 'Aphelios']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra..."

In [186]:
df.columns

Index(['match_id', 'patch_start', 'region', 'lane', 'champion_1', 'champion_2',
       'win_1', 'win_2', 'kda_1', 'kda_2', 'gold_1', 'gold_2', 'items_1',
       'items_2', 'damage_dealt_1', 'damage_dealt_2', 'damage_taken_1',
       'damage_taken_2', 'damage_to_objectives_1', 'damage_to_objectives_2',
       'vision_score_1', 'vision_score_2', 'cs_1', 'cs_2',
       'kill_participation_1', 'kill_participation_2', 'cc_score_1',
       'cc_score_2', 'gold_spent_1', 'gold_spent_2', 'champion_transform_1',
       'champion_transform_2', 'individual_position_1',
       'individual_position_2', 'team_id_1', 'team_id_2', 'bounty_level_1',
       'bounty_level_2', 'physical_damage_dealt_1', 'physical_damage_dealt_2',
       'magic_damage_dealt_1', 'magic_damage_dealt_2', 'true_damage_dealt_1',
       'true_damage_dealt_2', 'physical_damage_taken_1',
       'physical_damage_taken_2', 'magic_damage_taken_1',
       'magic_damage_taken_2', 'true_damage_taken_1', 'true_damage_taken_2',
       'total_damage_dealt_1', 'total_damage_dealt_2',
       'damage_self_mitigated_1', 'damage_self_mitigated_2',
       'turret_takedowns_1', 'turret_takedowns_2', 'dragon_takedowns_1',
       'dragon_takedowns_2', 'baron_takedowns_1', 'baron_takedowns_2',
       'longest_time_living_1', 'longest_time_living_2', 'champ_experience_1',
       'champ_experience_2', 'time_played_1', 'time_played_2',
       'match_duration', 'first_blood_kill_1', 'first_blood_kill_2',
       'first_blood_assist_1', 'first_blood_assist_2', 'gold_per_minute_1',
       'gold_per_minute_2', 'xp_diff_per_minute_1', 'xp_diff_per_minute_2',
       'ally_champions_1', 'ally_champions_2', 'enemy_champions_1',
       'enemy_champions_2'],
      dtype='object')

In [187]:
l = [{'itemId': 1055, 'timestamp': 5498, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 3340, 'timestamp': 5832, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 2003, 'timestamp': 6166, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 3134, 'timestamp': 398443, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 1036, 'timestamp': 399245, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 1001, 'timestamp': 400180, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 6690, 'timestamp': 539225, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 1029, 'timestamp': 540522, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 3142, 'timestamp': 679256, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 2022, 'timestamp': 689058, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3047, 'timestamp': 810365, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1036, 'timestamp': 938251, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1036, 'timestamp': 938418, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 2021, 'timestamp': 1044823, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3133, 'timestamp': 1187112, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1028, 'timestamp': 1187413, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 6610, 'timestamp': 1241932, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1037, 'timestamp': 1276985, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3044, 'timestamp': 1366928, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3071, 'timestamp': 1620055, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 1028, 'timestamp': 1628884, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 2021, 'timestamp': 1804536, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 3053, 'timestamp': 1951844, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 2138, 'timestamp': 1952846, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 1055, 'timestamp': 2096424, 'phase': 'late', 'action': 'ITEM_SOLD'}, {'itemId': 2021, 'timestamp': 2098297, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 3814, 'timestamp': 2383955, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 2138, 'timestamp': 2509589, 'phase': 'late', 'action': 'ITEM_PURCHASED'}]
len(l)

28

In [188]:
# Buy Doran's Blade @00:00 early -> Buy Stealth Ward @00:00 early -> Buy Health Potion @00:00 early -> Buy Serrated Dirk @06:45 early -> Buy Long Sword @06:45 early -> Buy Boots @06:45 early -> Buy Rectrix @09:00 early -> Buy Cloth Armor @09:00 early -> Buy Youmuu's Ghostblade @11:15 mid -> Buy Glowing Mote @11:30 mid -> Buy Plated Steelcaps @13:30 mid -> Buy Long Sword @15:45 mid -> Buy Long Sword @15:45 mid -> Buy Tunneler @17:30 mid -> Buy Caulfield's Warhammer @19:45 mid -> Buy Ruby Crystal @19:45 mid -> Buy Sundered Sky @20:45 mid -> Buy Pickaxe @21:15 mid -> Buy Phage @22:45 mid -> Buy Black Cleaver @27:00 late -> Buy Ruby Crystal @27:15 late -> Buy Tunneler @30:00 late -> Buy Sterak's Gage @32:30 late -> Buy Elixir of Iron @32:30 late -> Sell Doran's Blade @35:00 late -> Buy Tunneler @35:00 late -> Buy Edge of Night @39:45 late -> Buy Elixir of Iron @41:45 late,Buy Doran's Blade @00:00 early -> Buy Health Potion @00:00 early -> Buy Tear of the Goddess @03:30 early -> Buy Health Potion @03:30 early -> Buy Ruby Crystal @06:15 early -> Action UnknownItemNone @06:15 early -> Buy Pickaxe @06:15 early -> Buy Refillable Potion @06:15 early -> Buy Control Ward @06:15 early -> Sell Total Biscuit of Everlasting Will @08:45 early -> Sell Total Biscuit of Everlasting Will @08:45 early -> Buy Ruby Crystal @08:45 early -> Buy Black Cleaver @11:15 mid -> Buy Control Ward @11:30 mid -> Sell Refillable Potion @14:30 mid -> Buy Spear of Shojin @14:30 mid -> Buy Oracle Lens @14:30 mid -> Buy Caulfield's Warhammer @16:45 mid -> Buy Manamune @20:45 mid -> Buy Null-Magic Mantle @20:45 mid -> Buy Mercury's Treads @23:15 mid -> Buy Serrated Dirk @23:15 mid -> Buy Edge of Night @27:00 late -> Sell Doran's Blade @27:00 late -> Buy Pickaxe @27:00 late -> Action UnknownItemNone @27:00 late -> Buy B. F. Sword @27:00 late -> Buy Guardian Angel @31:00 late -> Buy Chainlaced Crushers @34:15 late -> Buy Elixir of Wrath @34:15 late -> Buy Elixir of Wrath @36:30 late -> Sell Black Cleaver @37:15 late -> Buy Serylda's Grudge @37:15 late -> Buy Elixir of Wrath @37:15 late -> Buy Elixir of Wrath @39:30 late -> Buy Elixir of Wrath @41:45 late,

In [189]:
df.region.value_counts()

region
KR      8430
EUW     8295
NA      8180
BR      5889
LAS     5205
EUNE    5134
LAN     5119
OCE     1419
JP      1240
Name: count, dtype: int64

In [190]:
df['champion_1'].value_counts()

champion_1
Tristana        996
Ezreal          962
Kaisa           948
Gwen            760
Varus           748
               ...
Heimerdinger     53
Rammus           48
Illaoi           45
Amumu            41
Shyvana          32
Name: count, Length: 170, dtype: int64

In [191]:
df['win_1'].mean()

np.float64(0.5211302161068062)

In [192]:
df['lane'].value_counts()

lane
JUNGLE     9783
TOP        9782
MIDDLE     9782
BOTTOM     9782
UTILITY    9782
Name: count, dtype: int64

In [193]:
#check for identical rows
identical_rows = df[df.duplicated(keep=False)]
if not identical_rows.empty:
    print("Identical rows found:")
    print(identical_rows)
else:
    print("No identical rows found.")

#check for missing values
missing_values = df.isnull().sum()
if missing_values.any():
    print("Missing values found:")
    print(missing_values[missing_values > 0])
    print('Indices of missing values:')
    # for col in df.columns:
        # if df[col].isnull().any():
            # print(f"Column '{col}' has missing values at indices: {df.index[df[col].isnull()].tolist()}")
    print('Number of missing values:')
    print(missing_values[missing_values > 0].sum())
    print('Number of missing values per column:')
    print(missing_values[missing_values > 0])
    print('Total number of missing values:')
    print(missing_values.sum())
else:
    print("No missing values found.")

No identical rows found.
Missing values found:
kill_participation_1       49
kill_participation_2       40
dragon_takedowns_1      48911
dragon_takedowns_2      48911
baron_takedowns_1       48911
baron_takedowns_2       48911
xp_diff_per_minute_1    48911
xp_diff_per_minute_2    48911
dtype: int64
Indices of missing values:
Number of missing values:
293555
Number of missing values per column:
kill_participation_1       49
kill_participation_2       40
dragon_takedowns_1      48911
dragon_takedowns_2      48911
baron_takedowns_1       48911
baron_takedowns_2       48911
xp_diff_per_minute_1    48911
xp_diff_per_minute_2    48911
dtype: int64
Total number of missing values:
293555

In [194]:
columns_to_keep = [
"champion_1", "champion_2", "lane",
"ally_champions_1", "enemy_champions_1"
]
df[columns_to_keep]

,champion_1,champion_2,lane,ally_champions_1,enemy_champions_1
0,Ambessa,Riven,TOP,"['Naafiri', 'Malzahar', 'Ezreal', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']"
1,Naafiri,Taliyah,JUNGLE,"['Ambessa', 'Malzahar', 'Ezreal', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']"
2,Malzahar,Leblanc,MIDDLE,"['Ambessa', 'Naafiri', 'Ezreal', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']"
3,Ezreal,Varus,BOTTOM,"['Ambessa', 'Naafiri', 'Malzahar', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']"
4,Bard,Pyke,UTILITY,"['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']"
...,...,...,...,...,...
48906,Jayce,Camille,TOP,"['LeeSin', 'Chogath', 'Tristana', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr..."
48907,LeeSin,Ekko,JUNGLE,"['Jayce', 'Chogath', 'Tristana', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr..."
48908,Chogath,Xerath,MIDDLE,"['Jayce', 'LeeSin', 'Tristana', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr..."
48909,Tristana,Aphelios,BOTTOM,"['Jayce', 'LeeSin', 'Chogath', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr..."
48910,Rakan,Thresh,UTILITY,"['Jayce', 'LeeSin', 'Chogath', 'Tristana']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr..."

In [195]:
clean = 'data/llm_ready_dataset.csv'
a = pd.read_csv(clean, sep=';')

In [196]:
a

,champion_1,champion_2,lane,ally_champions_1,enemy_champions_1,ally_champions_2,enemy_champions_2,items_1_early,items_1_mid,items_1_late
0,Ambessa,Riven,TOP,"['Naafiri', 'Malzahar', 'Ezreal', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '...",Buy Doran's Shield -> Buy Long Sword -> Buy Lo...,Buy Eclipse -> Buy Pickaxe -> Buy Ruby Crystal...,Buy Death's Dance -> Buy Chainlaced Crushers
1,Naafiri,Taliyah,JUNGLE,"['Ambessa', 'Malzahar', 'Ezreal', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Riven', 'Leblanc', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '...",Buy Gustwalker Hatchling -> Buy Caulfield's Wa...,Buy Long Sword -> Buy Long Sword -> Buy Ionian...,Buy Edge of Night -> Buy Long Sword -> Buy Clo...
2,Malzahar,Leblanc,MIDDLE,"['Ambessa', 'Naafiri', 'Ezreal', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Riven', 'Taliyah', 'Varus', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '...",Buy Doran's Ring -> Buy Sapphire Crystal -> Bu...,Buy Blackfire Torch -> Buy Farsight Alteration...,NaN
3,Ezreal,Varus,BOTTOM,"['Ambessa', 'Naafiri', 'Malzahar', 'Bard']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Riven', 'Taliyah', 'Leblanc', 'Pyke']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '...",Buy Doran's Blade -> Buy Tear of the Goddess -...,Buy Phage -> Buy Long Sword -> Buy Trinity For...,NaN
4,Bard,Pyke,SUPPORT,"['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal']","['Riven', 'Taliyah', 'Leblanc', 'Varus', 'Pyke']","['Riven', 'Taliyah', 'Leblanc', 'Varus']","['Ambessa', 'Naafiri', 'Malzahar', 'Ezreal', '...",Buy World Atlas -> Buy Amplifying Tome -> Buy ...,Buy Hextech Rocketbelt -> Buy Ruby Crystal -> ...,Buy Cosmic Drive
...,...,...,...,...,...,...,...,...,...,...
97817,Camille,Jayce,TOP,"['Ekko', 'Xerath', 'Aphelios', 'Thresh']","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra...","['LeeSin', 'Chogath', 'Tristana', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...",Buy Doran's Shield -> Buy Long Sword -> Buy Bo...,Buy Phage -> Buy Long Sword -> Buy Trinity For...,Buy Giant's Belt -> Buy Ruby Crystal -> Buy Ti...
97818,Ekko,Leesin,JUNGLE,"['Camille', 'Xerath', 'Aphelios', 'Thresh']","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra...","['Jayce', 'Chogath', 'Tristana', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...",Buy Gustwalker Hatchling -> Buy Dark Seal -> B...,Buy Lich Bane -> Buy Amplifying Tome -> Buy Fi...,Buy Needlessly Large Rod -> Sell Amplifying To...
97819,Xerath,Chogath,MIDDLE,"['Camille', 'Ekko', 'Aphelios', 'Thresh']","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra...","['Jayce', 'LeeSin', 'Tristana', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...",Buy Doran's Ring -> Buy Boots -> Buy Sapphire ...,Buy Luden's Companion -> Buy Sorcerer's Shoes ...,Buy Void Staff -> Sell Doran's Ring -> Buy Nee...
97820,Aphelios,Tristana,BOTTOM,"['Camille', 'Ekko', 'Xerath', 'Thresh']","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra...","['Jayce', 'LeeSin', 'Chogath', 'Rakan']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...",Buy Doran's Blade -> Buy B. F. Sword -> Buy Lo...,Buy Berserker's Greaves -> Buy B. F. Sword -> ...,Buy Zeal -> Buy Runaan's Hurricane -> Sell Dor...
97821,Thresh,Rakan,SUPPORT,"['Camille', 'Ekko', 'Xerath', 'Aphelios']","['Jayce', 'LeeSin', 'Chogath', 'Tristana', 'Ra...","['Jayce', 'LeeSin', 'Chogath', 'Tristana']","['Camille', 'Ekko', 'Xerath', 'Aphelios', 'Thr...",Buy World Atlas -> Buy Cloth Armor -> Buy Boot...,Buy Null-Magic Mantle -> Buy Locket of the Iro...,Buy Negatron Cloak -> Buy Abyssal Mask

In [197]:
import pandas as pd

df = pd.read_json("data/build_finetune_dataset.jsonl", lines=True)

In [201]:
df.iloc[5].prompt

'In a TOP matchup between Gwen and Garen, with allies Kindred, Yone, Lux, Rakan and enemies Garen, DrMundo, Pantheon, Jhin, Mel, what should you build during early, mid, and late stages?'