In [25]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('matches.db')
df = pd.read_sql_query("SELECT * FROM match_records", conn)
conn.close()

In [26]:
df

,match_id,patch_start,region,lane,champion_1,champion_2,win_1,win_2,kda_1,kda_2,...,vision_score_1,vision_score_2,cs_1,cs_2,kill_participation_1,kill_participation_2,cc_score_1,cc_score_2,gold_spent_1,gold_spent_2
0,EUW1_7356695788,1743552000,EUW,TOP,Pantheon,Jayce,0,1,"(12, 11, 10)","(17, 5, 12)",...,0.57,1.44,6.82,8.26,0.594595,0.674419,28,26,17800,23250
1,EUW1_7356695788,1743552000,EUW,JUNGLE,Nidalee,Zed,0,1,"(4, 5, 17)","(7, 5, 19)",...,1.09,0.96,6.32,7.87,0.567568,0.604651,14,21,15125,17950
2,EUW1_7356695788,1743552000,EUW,MIDDLE,Malphite,Hwei,0,1,"(4, 11, 12)","(8, 6, 17)",...,1.07,0.84,5.91,7.00,0.432432,0.581395,46,35,14225,17325
3,EUW1_7356695788,1743552000,EUW,BOTTOM,Jhin,Ashe,0,1,"(15, 7, 13)","(8, 14, 22)",...,1.60,0.78,8.23,6.23,0.756757,0.697674,59,93,23315,16055
4,EUW1_7356695788,1743552000,EUW,UTILITY,Alistar,Poppy,0,1,"(2, 9, 18)","(3, 7, 20)",...,2.49,3.63,0.82,1.32,0.540541,0.534884,60,76,10125,10450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8390,LA2_1495943252,1743552000,LAS,TOP,Chogath,Quinn,0,1,"(5, 14, 10)","(18, 6, 11)",...,0.58,0.86,5.27,7.23,0.500000,0.508772,102,39,11975,17425
8391,LA2_1495943252,1743552000,LAS,JUNGLE,Trundle,MonkeyKing,0,1,"(8, 9, 11)","(18, 7, 11)",...,1.20,0.83,6.68,5.70,0.633333,0.508772,33,24,14758,14783
8392,LA2_1495943252,1743552000,LAS,MIDDLE,Irelia,Syndra,0,1,"(9, 11, 1)","(7, 5, 15)",...,0.61,0.67,7.66,6.80,0.333333,0.385965,21,58,13025,12435
8393,LA2_1495943252,1743552000,LAS,BOTTOM,Lucian,Draven,0,1,"(7, 15, 6)","(11, 8, 8)",...,0.43,0.46,5.33,6.80,0.433333,0.333333,1,14,12025,15450
8394,LA2_1495943252,1743552000,LAS,UTILITY,Nami,Nautilus,0,1,"(1, 8, 16)","(3, 4, 27)",...,2.27,3.19,0.58,0.89,0.566667,0.526316,41,90,7925,9675

In [27]:
df.columns

Index(['match_id', 'patch_start', 'region', 'lane', 'champion_1', 'champion_2',
       'win_1', 'win_2', 'kda_1', 'kda_2', 'gold_1', 'gold_2', 'items_1',
       'items_2', 'damage_dealt_1', 'damage_dealt_2', 'damage_taken_1',
       'damage_taken_2', 'damage_to_objectives_1', 'damage_to_objectives_2',
       'vision_score_1', 'vision_score_2', 'cs_1', 'cs_2',
       'kill_participation_1', 'kill_participation_2', 'cc_score_1',
       'cc_score_2', 'gold_spent_1', 'gold_spent_2'],
      dtype='object')

In [28]:
df.iloc[0].items_1

"[{'itemId': 1055, 'timestamp': 5498, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 3340, 'timestamp': 5832, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 2003, 'timestamp': 6166, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 3134, 'timestamp': 398443, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 1036, 'timestamp': 399245, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 1001, 'timestamp': 400180, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 6690, 'timestamp': 539225, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 1029, 'timestamp': 540522, 'phase': 'early', 'action': 'ITEM_PURCHASED'}, {'itemId': 3142, 'timestamp': 679256, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 2022, 'timestamp': 689058, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3047, 'timestamp': 810365, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1036, 'timestamp': 938251, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1036, 'timestamp': 938418, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 2021, 'timestamp': 1044823, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3133, 'timestamp': 1187112, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1028, 'timestamp': 1187413, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 6610, 'timestamp': 1241932, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 1037, 'timestamp': 1276985, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3044, 'timestamp': 1366928, 'phase': 'mid', 'action': 'ITEM_PURCHASED'}, {'itemId': 3071, 'timestamp': 1620055, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 1028, 'timestamp': 1628884, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 2021, 'timestamp': 1804536, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 3053, 'timestamp': 1951844, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 2138, 'timestamp': 1952846, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 1055, 'timestamp': 2096424, 'phase': 'late', 'action': 'ITEM_SOLD'}, {'itemId': 2021, 'timestamp': 2098297, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 3814, 'timestamp': 2383955, 'phase': 'late', 'action': 'ITEM_PURCHASED'}, {'itemId': 2138, 'timestamp': 2509589, 'phase': 'late', 'action': 'ITEM_PURCHASED'}]"

In [29]:
df.region.value_counts()

region
KR      2145
EUW     1940
EUNE    1470
BR       660
LAS      650
LAN      640
NA       450
JP       440
Name: count, dtype: int64

In [30]:
df['champion_1'].value_counts()

champion_1
Ezreal          189
Kaisa           188
Gwen            158
Tristana        152
Naafiri         148
               ...
Rammus            7
Samira            6
Fizz              5
Heimerdinger      4
Evelynn           3
Name: count, Length: 170, dtype: int64

In [31]:
df['win_1'].mean()

np.float64(0.5157832042882668)

In [32]:
df['lane'].value_counts()

lane
TOP        1679
JUNGLE     1679
MIDDLE     1679
BOTTOM     1679
UTILITY    1679
Name: count, dtype: int64

In [33]:
#check for identical rows
identical_rows = df[df.duplicated(keep=False)]
if not identical_rows.empty:
    print("Identical rows found:")
    print(identical_rows)
else:
    print("No identical rows found.")

#check for missing values
missing_values = df.isnull().sum()
if missing_values.any():
    print("Missing values found:")
    print(missing_values[missing_values > 0])
else:
    print("No missing values found.")

No identical rows found.
No missing values found.